@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ccc;
}
a:hover {
    color: rgb(179, 179, 179);
}
.header-main {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    opacity: 0.9 !important; 
}
.header-identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.header-navigation ul,
.header-navigation li {
    margin: 0;
    padding: 0;
}
.header-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.main-app{
    height: 1200px;
}

.convert-section{
    margin-top: 10%;
    text-align: center;
}

.form {
  width: 97%;
  height: 278px;
  margin: 1% auto;
  border: 2px dashed #3d3935;
}

.drop-select{
    width: 90%;
    height: 300px;
    max-width: 800px;
    margin: 1% auto;
    border: 5px solid #3d3935;
}

.upload-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 238px;
  padding: 20px 0;

}
.upload-ui img {
  width: 40px;
}
.upload-ui h2 {
  margin-top: 10px;
  color: #3d3935;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}
.upload-ui p {
  margin: 8px 0;
  font-size: 1.25rem;
}
.input-upload {
  display: none;
}
.btn-upload {
  width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #004b8c;
  color: #fff;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}
.file-name {
  margin-top: 10px;
  font-size: 1rem;
}
.dragover {
  background-color: rgba(0, 0, 0, .2);
}
