{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-main">
            <div class="header-identity">
                <h1><a href="#">App</a></h1>
            </div>
            <nav class="header-navigation">
                <ul class="nav">
                    <li><a href="#">Sing in</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="main-app">
            <select name="files" id="">
                <option value="pdf">PDF</option>
                <option value="world">Word</option>
                <option value="exel">Exel</option>
            </select>
            <button>CONVERTIR A</button>
            <select name="files" id="">
                <option value="pdf">PDF</option>
                <option value="world">Word</option>
                <option value="exel">Exel</option>
            </select>
        </div>

        <footer>
            <h3>Hecho con el ♥ por Reyner B.</h3>
        </footer>
    </main>
    
</body>
</html>